extends layout.pug

append head
  script(src="/public/js/home.js" type="module" defer)
  link(rel="stylesheet" href="/public/css/home.css")

block content
  header
    div#header
      div.logo
        a(id='medium' href="/") Meatium
    div.wrapper-nav

        img(id='user-profile' class="profile-pic" src="/assets/profile-pics/anonymous-profile-pic.jpg")
        img(id="notifications" src="/assets/headers/notification-bell.jpg")
        img(id="bookmarks" src="/assets/headers/bookmark-save.jpg")
        img(id="magnify-glass" src="/assets/headers/magnifying-glass.jpg")
    div.wrapper-nav-categories

      nav
        div.wrapper-nav-split
          a(href="/" class='main') HOME
          a(href="/" class='alt') BREAKFAST
          a(href="/" class='alt') LUNCH
          a(href="/" class='alt') DINNER
          a(href="/" class='alt') VEGETARIAN
          a(href="/" class='alt') VEGAN
          a(href="/" class='alt') BAKING
          a(href="/" class='alt') APPETIZERS
        div.wrapper-nav-split
          a(href="/" class='alt') SOUS-VIDE
          a(href="/" class='alt') BARBECUE/GRILLING
          a(href="/" class='alt') QUICK AND EASY
  div#articles
    ul.stories-list
    div#popular
      text#popular-topics Popular Topics on Meatium
      div#bottom-border
      div
        text(class='rank') 01
        text(class='topic') Breakfast
      div
        text(class='rank') 02
        text(class='topic') Quick And Easy
      div
        text(class='rank') 03
        text(class='topic') Dinner
      div
         text(class='rank') 04
         text(class='topic') Baking
