extends layout.pug

append head
  script(src="public/js/login.js" type="module" defer)

block content
  h1 This is the login form
  form#login-form
    label(for='username') Username
    input(type='text', name='username')
    label(for='password') Password
    input(type='password' name='password')
    button(type='submit') Log In
