extends layout.pug

append head
  script(src="/public/js/profile.js" type="module" defer)
  link(rel="stylesheet" href="/public/css/profile.css")

block content
  div#profile
    div#profile-details
      div#profile-details-header
        h2#profile-name
        button#edit-profile Edit Profile
        a(href="../new-story")
          button#new-story New Story
      span#member-since
      span#follows ? Following ? Followers
      img(id="profile-pic" src="../assets/profile-pics/anonymous-profile-pic.jpg")
    div#profile-claps
      h3#claps-from-header
      ul.my-claps
