extends layout.pug

include include/auth-input.pug

append head
  script(src="/public/js/signup.js" type="module" defer)
  link(rel="stylesheet" href="/public/css/auth.css")

block content
  form#signup-form
    h1 Join Meatium.
    h2 Create an account to receive enticing food stories in your inbox, personalize your homepage, and follow authors and food topics that you love.
    ul#errors-container
    +authInput("Email", "email")
      input(type='email' name='email' placeholder='email here' required)
    +authInput("Username", "username")
      input(type="text" name="username" placeholder='username here' required)
    +authInput("Password","password")
      input(type='password' name='password' placeholder='password here' required)
    +authInput("Confirm Password","password2")
      input(type="password" name="password2" placeholder="confirm your password here" required)
    button(type='submit') Sign Up
    div.existing-account Already have an account?
      a.link-to-other-form(href="/login") Sign in
    h4 Fill out the above to create an account to browse Meatium or click "Sign in" to jump right into Meatium with a demo user.
