extends layout.pug

append head
  script(src="/public/js/story-show.js" type="module" defer)
  link(rel="stylesheet" href="/public/css/story-show.css")

block content
  header
    div#header
        div.logo
          text(id='medium') Meatium
        div.wrapper-nav
          img(id='user-profile' class="profile-pic" src="/assets/profile-pics/anonymous-profile-pic.jpg")
          img(id="notifications" src="/assets/headers/notification-bell.jpg")
          img(id="bookmarks" src="/assets/headers/bookmark-save.jpg")
          img(id="magnify-glass" src="/assets/headers/magnifying-glass.jpg")
  .story-container
  div#click-to-comment
    button#comment-button Be the First to Comment...
  div(id='comments')
    #comments-container
    textarea(name="comment-text", cols="50", rows="10")
