extends layout.pug

append head
  script(src="/public/js/story-show.js" type="module" defer)
  link(rel="stylesheet" href="/public/css/story-show.css")

block content
  div(id='comments')
    div#responses Responses ()
    div#comment-text-area
      textarea(id="comment-text", cols="50", rows="10" placeholder="What are your thoughts...")
      div#text-buttons
        button(id='cancel' class='text-buttons') Cancel
        button(id='respond' class='text-buttons') Respond
    #comments-container
  header
    div#header
        div.logo
          text(id='medium') Meatium
        div.wrapper-nav
          img(id='user-profile' class="profile-pic" src="/assets/profile-pics/anonymous-profile-pic.jpg")
          img(id="notifications" src="/assets/headers/notification-bell.jpg")
          img(id="bookmarks" src="/assets/headers/bookmark-save.jpg")
          img(id="magnify-glass" src="/assets/headers/magnifying-glass.jpg")
  .story-container
  div#click-to-comment
    button#comment-button Be the First to Comment...
